.nav-header {
    width: 100%;
    height: 84px;

    .link-help a {
        margin-top: 20px;
        text-decoration: none;
        color: #ef4d2d !important;
        padding: 0;
    }

    img{
        width: 200px;
        height: 200px;
    }
    

}