
form{
    width: 100%;
    height: 300px;
    background-color: rgb(238, 77, 45);
    
    .card-body{
        border-radius: 5px;
        background-color: #fff;
        padding: 30px !important;
    }

    .input-form{
        #input-email{
            font-size: 15px;
            margin-bottom: 20px;
        }
        #input-password{
            font-size: 15px;
            margin-bottom: 20px;
        }
    }

    .login-button{
        .btn-login{
            width: 100%;
            padding: 7px 0px;
            background: #ef4d2d;
            border: none;
            color: #fff;
            font-size: 16px;
            margin-bottom: 19px;
        }
        .btn-login:hover{
            opacity: 0.9;
        }
    }

    .forget-link{
        a{
            text-decoration: none;
            font-size: 13px;
            color: #05a;
        }
    }

    .register-link{
        color: #bdbdbd;
        font-size: 14px;
        a{
            color: #ef4d2d;
            text-decoration: none;
            font-weight:900;
        }
        margin-top: 8px;
    }

    .action-more{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex: 1;
        
        .btn-social{
            box-sizing: border-box;
            outline: none;
            border: 1px solid #bdbdbd;
            color: black;
            background: #fff;
            margin: 8px 10px;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 40px;
            font-size: .875rem;
            border-radius: 2px;

            display:flex;
            justify-content: flex-start;
            align-items: center;
            gap: 5px;
            padding-left: 38%;
        }
        
    }
}

